@import "./scss/variables";
@import "./scss/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $font-family;
  font-size: 62.5%;
  overflow: hidden;
}

ul,
li {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}
