@import "../../scss/mixin";
@import "../../scss/variables";

.messenger {
  height: calc(100vh - 70px);
  display: flex;

  .chat-menu {
    flex: 3.5;

    &-input {
      width: 80%;
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid gray;

      &:focus {
        outline: none;
      }
    }
  }

  .chat-box {
    flex: 5.5;

    .chat-box-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .chat-box-top {
      height: 100%;
      padding-right: 10px;
      overflow-y: scroll;

      &::-webkit-scrollbar-thumb {
        background-color: gray;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
      }
    }

    &-bottom {
      margin-top: 5px;
      @include flex(center, space-between);

      .chat-input {
        width: 80%;
        height: 90px;
        padding: 10px;
      }

      .send-btn {
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: $blue;
        color: $white;
      }
    }
  }

  .chat-online {
    flex: 3;
  }

  .chat-menu-wrapper,
  .chat-box-wrapper,
  .chat-online-wrapper {
    padding: 10px;
    height: 100%;
    font-size: 1rem;
  }
}
