@import "../../scss/variables";
@import "../../scss/mixin";

.feed {
  flex: 5;

  .feed-wrapper {
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
      background-color: gray;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
    }
  }
}
