@import "../../scss/variables";
@import "../../scss/mixin";

.sidebar {
  flex: 3;
  height: calc(100vh - 50px);

  &-wrapper {
    padding: 1.5rem;
    font-size: 1rem;

    &-list {
      margin: 0;
      padding: 0;

      &-item {
        margin-bottom: 1.5rem;
        @include flex(center, left);

        &-icon {
          margin-right: 1rem;
        }
      }
    }

    &-btn {
      width: 150px;
      border: none;
      padding: 10px;
      border-radius: 5px;
      font-weight: 500;
    }

    .sidebar-hr {
      margin: 20px 0;
      width: 80%;
    }
  }
}
